<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    /* Add your custom CSS styling here */
  </style>
</head>
<body>
 <% username = @resource.email.split('@').first %>
  <h4>Hello <%= username %></h4>

  <p>
    Welcome to our website! Please click the link below to confirm your account:
    <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), style:"display: inline-block; background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;" %>
  </p>
</body>
</html>
