<h1><%#= @vendor.first_name %></h1>

<dl>
  <% @vendor.attributes.each do |attribute, value| %>
    <% next if attribute == "id" %>
    <dt><%= attribute.titleize %>:</dt>
    <dd><%= value %></dd>
  <% end %>
</dl>

<p>
  <%= link_to 'Edit', edit_vendor_path(@vendor) %> |
  <%= link_to 'Back', vendors_path %>
</p>
