<h6 style="color: red;">Redirecting to Payment gateway please do not hit back button</h6>



<script> 
var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>");
stripe.redirectToCheckout({
  sessionId: '<%=  @checkout_session.id %>'
}).then(function (result) {
  console.log(result.error.message);
});
</script>
